openapi: 3.2.0
info:
  title: Altruistiq Datasource Organization API
  x-logo:
    url: ./aq.svg
    altText: Altruistiq Logo
  version: 1.0.0
  description: '# Definitions


    An **Activity** is a business process that has taken place, which is relevant for emissions measurement.'
servers:
- url: https://app.altruistiq.com/
  description: Altruistiq Server
tags:
- name: Organization
  description: 'Altruistiq''s Organization API enables you to:


    - Get organization details and business units


    The organization API provides access to organizational structure data including the root organization and its business units.'
paths:
  /api/public/v1/organization/:
    get:
      operationId: OrganizationPublicController.getOrganization
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrganizationPublicDtoRes'
          description: ''
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Bad request
        '401':
          description: Not authorised
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Not authorized
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Something went wrong
      summary: Get Organization And Business Units
      tags:
      - Organization
      description: Retrieve all organizations including the root organization and its business units (id and name).
      security:
      - bearerAuth: []
components:
  schemas:
    OrganizationPublicGet:
      properties:
        id:
          format: uuid
          type: string
          description: The UUID of the organization record
          example: aee349fd-28e4-450d-9e20-af64d9c0d813
        name:
          type: string
          description: The name of the organization
          example: Acme Corporation
      type: object
      required:
      - id
      - name
    GetOrganizationPublicDtoRes:
      properties:
        organizations:
          items:
            type: object
            $ref: '#/components/schemas/OrganizationPublicGet'
          type: array
          description: The list of organizations including root organization and business units
      type: object
      required:
      - organizations
  securitySchemes:
    bearerAuth:
      type: apiKey
      name: Authorization
      in: header
      description: 'Enter the token with the `Bearer: ` prefix, e.g. `Bearer: apiKey`.'
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://app.altruistiq.com/api/public/v1/oauth2/token
