openapi: 3.2.0
info:
  title: Altruistiq Datasource Export API
  x-logo:
    url: ./aq.svg
    altText: Altruistiq Logo
  version: 1.0.0
  description: '# Definitions


    An **Activity** is a business process that has taken place, which is relevant for emissions measurement.'
servers:
- url: https://app.altruistiq.com/
  description: Altruistiq Server
tags:
- name: Export
  description: '### Altruistiq’s Export API enables you to:


    - Export corporate data


    Exporting data is a key part of the Altruistiq platform.'
paths:
  /api/public/v1/export:
    post:
      security:
      - bearerAuth: []
      tags:
      - Export
      summary: Create An Export
      operationId: createExport
      description: Use this endpoint to create and start an export.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - filters
              - format
              properties:
                format:
                  type: object
                  required:
                  - type
                  properties:
                    type:
                      type: string
                      enum:
                      - auto
                      - brotli
                      - bz2
                      - deflate
                      - lzo
                      - none
                      - raw_deflate
                      - snappy
                      - gzip
                      - zstd
                      example: snappy
                      description: "Not all compression types are supported for all file types.\nIn particular: \n  * JSON supports: auto, brotli, bz2, deflate, raw_deflate, gzip and zstd\n  * PARQUET supports: auto, lzo, none and snappy"
                    partitionedBy:
                      type: array
                      items:
                        type: string
                      example:
                      - facility_name
                filters:
                  type: object
                  required:
                  - financial_years
                  - endDate
                  - startDate
                  properties:
                    financialYears:
                      type: array
                      items:
                        type: integer
                      example:
                      - 2022
                      description: The financial years you want to export data for.
                    endDate:
                      type: string
                      format: date
                      description: The end date of the export.
                    startDate:
                      type: string
                      format: date
                      description: The start date of the export.
      x-codeSamples:
      - lang: python
        label: Python
        source: "import requests\n\n# needs token from /api/public/v1/oauth2/token\nresponse = requests.post(\n  f\"https://app.altruistiq.com/api/public/v1/export\"\n  headers={\n    \"Authorization\": f\"Bearer {token}\"\n  },\n  json={\n    \"filters\": {\"financialYears\": [2022]},\n    \"format\": {\"type\": \"PARQUET\", \"compression\": \"snappy\"}\n  }\n)\nresponse.raise_for_status()\n\nexport_id = response.json()[\"exportId\"]\n"
      responses:
        '201':
          description: Export Created
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/ExportStatus'
                  exportId:
                    type: number
                    example: 3f0b7fbd-fa45-445a-8862-49cd1871eebc
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/500'
        '504':
          description: Not Implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/504'
  /api/public/v1/export/{exportId}:
    get:
      security:
      - bearerAuth: []
      tags:
      - Export
      summary: Get Export Status And Download Urls
      operationId: getDownloadUrls
      description: Poll this endpoint to retrieve download URLs and the status of an export.
      x-codeSamples:
      - lang: python
        label: Python
        source: "# needs export_id from GET /api/public/v1/export\n# needs token from /api/public/v1/oauth2/token\n\nimport requests\nfrom time import sleep\n# if using pandas also\nimport pandas as pd\n\n\ndef wait_for_success(export_id: str):\n  while True:\n    response = requests.get(\n      f\"https://app.altruistiq.com/api/public/v1/export/{export_id}\",\n      headers={\n        \"Authorization\": f\"Bearer {token}\"\n      }\n    )\n    response.raise_for_status()\n    export = response.json()\n    status = export[\"status\"]\n    if status in {\"FAILED\", \"CANCELLED\"}:\n      raise RuntimeError(f\"Failed export {export}.\")\n    if status == \"SUCCEEDED\":\n      break\n    sleep(5.0)\n  return export\n\nexport = wait_for_success(export_id)\nfor i, url in enumerate(export[\"urls\"]):\n  file_download = requests.get(url)\n  file_download.raise_for_status()\n  file_type = export['format']['type'].lower()\n  compression = export['format'].get('compression', 'gz')\n  with open(f\"my_folder/file_{i}.{file_type}.{compression}\", \"w\") as f:\n    f.write(file_download.content)\n\n# alternatively if using pandas and you specified parquet format - this assumes data fits into memory\npd.concat((pd.read_parquet(url) for url in export[\"urls\"]))\n"
      responses:
        '200':
          description: Export Done
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/ExportStatus'
                  exportId:
                    type: number
                    example: 3f0b7fbd-fa45-445a-8862-49cd1871eebc
                  urls:
                    type: array
                    items:
                      type: string
                      example: https://app.altruistiq.com/api/public/v1/export/3f0b7fbd-fa45-445a-8862-49cd1871eebc/download
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/500'
        '504':
          description: Not Implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/504'
components:
  schemas:
    '504':
      type: object
      properties:
        status:
          type: string
          example: Not Implemented
          description: Not Implemented
    '401':
      type: object
      properties:
        status:
          type: string
          example: Unauthorized
          description: Request was unauthorized
    '404':
      type: object
      properties:
        status:
          type: string
          example: Not found
          description: Resource not found
    '500':
      type: object
      properties:
        status:
          type: string
          example: Server Error
          description: Internal Error
    ExportStatus:
      type: string
      enum:
      - QUEUED
      - RUNNING
      - SUCCEEDED
      - FAILED
      - CANCELLED
      example: QUEUED
  securitySchemes:
    bearerAuth:
      type: apiKey
      name: Authorization
      in: header
      description: 'Enter the token with the `Bearer: ` prefix, e.g. `Bearer: apiKey`.'
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://app.altruistiq.com/api/public/v1/oauth2/token
