openapi: 3.2.0
info:
  title: Altruistiq Datasource Location API
  x-logo:
    url: ./aq.svg
    altText: Altruistiq Logo
  version: 1.0.0
  description: '# Definitions


    An **Activity** is a business process that has taken place, which is relevant for emissions measurement.'
servers:
- url: https://app.altruistiq.com/
  description: Altruistiq Server
tags:
- name: Location
  description: 'Altruistiq''s Location API enables you to:


    - Get a list of countries with their alpha_2 codes and names

    - Get country subdivisions for a specific country by its alpha-2 code'
paths:
  /api/public/v1/location/countries:
    get:
      operationId: LocationController.getCountries
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCountriesPublicDtoRes'
          description: ''
        '401':
          description: Not authorised
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Not authorized
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Something went wrong
      summary: Get A List Of Countries
      tags:
      - Location
      description: Retrieve a list of countries with their alpha_2 codes and names.
      security:
      - bearerAuth: []
  /api/public/v1/location/countries/{countryCode}/subdivisions:
    get:
      operationId: LocationController.getCountrySubdivisions
      parameters:
      - in: path
        name: countryCode
        required: true
        schema:
          pattern: '[^\/#\?]+?'
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCountrySubdivisionsPublicDtoRes'
          description: ''
        '401':
          description: Not authorised
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Not authorized
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Resource not found
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Something went wrong
      summary: Get Country Subdivisions By Country Code
      tags:
      - Location
      description: Retrieve a list of country subdivisions for a specific country by its alpha-2 code.
      security:
      - bearerAuth: []
components:
  schemas:
    GetCountrySubdivisionsPublicDtoRes:
      properties:
        subdivisions:
          items:
            type: object
            $ref: '#/components/schemas/CountrySubdivisionPublicGet'
          type: array
          description: The list of country subdivisions
      type: object
      required:
      - subdivisions
    GetCountriesPublicDtoRes:
      properties:
        countries:
          items:
            type: object
            $ref: '#/components/schemas/CountryPublicGet'
          type: array
          description: The list of countries
      type: object
      required:
      - countries
    CountryPublicGet:
      properties:
        code:
          type: string
          description: The ISO 3166-1 alpha-2 code of the country
          example: US
        name:
          type: string
          description: The name of the country
          example: United States
      type: object
      required:
      - code
      - name
    CountrySubdivisionPublicGet:
      properties:
        code:
          type: string
          description: The code of the country subdivision
          example: US-NY
        name:
          type: string
          description: The name of the country subdivision
          example: New York
        type:
          type: string
          description: The type of the country subdivision
          example: state
        countryCode:
          type: string
          description: The ISO 3166-1 alpha-2 code of the country this subdivision belongs to
          example: US
      type: object
      required:
      - code
      - name
      - type
      - countryCode
  securitySchemes:
    bearerAuth:
      type: apiKey
      name: Authorization
      in: header
      description: 'Enter the token with the `Bearer: ` prefix, e.g. `Bearer: apiKey`.'
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://app.altruistiq.com/api/public/v1/oauth2/token
