openapi: 3.2.0
info:
  title: Altruistiq Datasource Security API
  x-logo:
    url: ./aq.svg
    altText: Altruistiq Logo
  version: 1.0.0
  description: '# Definitions


    An **Activity** is a business process that has taken place, which is relevant for emissions measurement.'
servers:
- url: https://app.altruistiq.com/
  description: Altruistiq Server
tags:
- name: Security
  description: 'The Altruistiq API uses TLS and follows the OAuth 2.0 Client credentials flow as per RFC 6749


    ### Generating `client_id` and `client_secret`


    In order to generate your `client_id` and `client_secret`, go to the altruistiq application’s organisation settings.'
paths:
  /api/public/v1/oauth2/token:
    post:
      security:
      - oauth2: []
      tags:
      - Security
      summary: Retrieve An Access Token
      operationId: getOauth2Token
      description: Retrieve an access token which will enable access to private areas of the API
      x-codeSamples:
      - lang: python
        label: Python
        source: "token_req_data = {\n  'grant_type': 'client_credentials',\n  'client_id': client_id,\n  'client_secret': client_secret\n}\ntoken_response = requests.post(\n  \"https://app.altruistiq.com/api/public/v1/oauth2/token\",\n  data=token_req_data\n)\ntoken = token_response.json()['access_token']\n"
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OauthToken'
      responses:
        '200':
          description: Token Retrieved
          content:
            application/json:
              schema:
                properties:
                  access_token:
                    type: string
                    description: The access token
                  token_type:
                    type: string
                    example: Bearer
                    description: The type of token
                  expires_in:
                    type: integer
                    example: 4000
                    description: Token TTL
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/500'
components:
  schemas:
    '500':
      type: object
      properties:
        status:
          type: string
          example: Server Error
          description: Internal Error
    '401':
      type: object
      properties:
        status:
          type: string
          example: Unauthorized
          description: Request was unauthorized
    OauthToken:
      required:
      - client_id
      - client_secret
      - grant_type
      type: object
      properties:
        client_id:
          type: string
          example: client-id-123
          description: The client ID.
        client_secret:
          type: string
          example: client_secret-123
          description: The client secret.
        grant_type:
          type: string
          enum:
          - client_credentials
          example: client_credentials
  securitySchemes:
    bearerAuth:
      type: apiKey
      name: Authorization
      in: header
      description: 'Enter the token with the `Bearer: ` prefix, e.g. `Bearer: apiKey`.'
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://app.altruistiq.com/api/public/v1/oauth2/token
